.links{
    display: inline-block;
    padding: 5%;
    float: left;
}
span {
    background-color: gray;
}
#sidebar {
    height: 100px;
    width: 29%;
    float: left;
    background-color: blue;
}
#main {
    height: 100px;
    width: 70%;
    float: left;
    background-color: green;
}